@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.main {
  width: 940px;
  margin: 0 auto;
  background-color: #eff3f4;
  padding: 20px;
  box-sizing: border-box;
}

.text {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}

.balloon {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
} 

.lantarn {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* 回答はここに書いてね */
