@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.main {
  padding: 20px;
  width: 940px;
  margin: 0 auto;
  background-color: #eff3f4;
  box-sizing: border-box;
}

.blue {
  padding: 20px;
  margin-left: 20px;
  background-color: #3274ae;
  float: left;
}

.blue:first-child {
  margin-left: 0;
}

.white {
  width: 230px;
  background-color: #eaf4ff;
  border: solid 10px;
  border-color: #022336;
  padding: 20px;
  box-sizing: border-box;
}



/* 回答はここに書いてね */
