@charset "UTF-8";

/* 回答はここに書いてね */

/* フロート */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.ftext {
  font-size: 16px;
  width: 225px;
  box-sizing: border-box;
}

.floatsmall {
  float: left;
  margin-right: 50px;
}

.floatbig {
  float: right;
}
/* フロート */

/* テーブル */
.tablebox {
  display: table;
  width: 500px;
}

.tablesmall:first-child {
  padding-left: 0;
}

.tablesmall {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  width: 225px;
}
/* テーブル */

/* inlineblock */
.inlinebox {
  width: 500px;
  font-size: 0px;
}

.inlinewhite {
  font-size: 16px;
  display: inline-block;
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;
}

.inlinewhite:first-child {
  margin-left: 0px;
}

/* inlineblock */

/* flex */
.flexbig {
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-items: flex-end;
}

.flexwhite {
  width: 225px;
  box-sizing: border-box;
}
/* flex */

/* ネガティブmargin */
.blockbox {
  width: 100%;
  display: inline-block;
}

.marginsmall {
  width: 300px;
  float: left;
}

.textsmall {
  margin: 0;
}

.marginbig {
  float: left;
  width: 100%;
  margin-left: -300px;
  padding-left: 50px;
  box-sizing: border-box;
}

.textbig {
  margin-left: 300px;
}
/* ネガティブmargin */
/* 回答はここに書いてね */