@charset "UTF-8";

/* 回答はここに書いてね */

.main {
  background-color: #eff3f4;
  padding: 20px;
  box-sizing: border-box;
}

.crossbar {
  display: table;
  width: 100%;
  background-color: #eff3f4;
  margin-top: 20px;
  text-align: center;
}

.crossbar:first-child {
  margin-top: 0;
}

.bar {
  padding: 20px 0;
  text-align: center;
  display: table-cell;
}

.orange {
  width: 100px;
  background-color: #fdc8b8;
}

.purple {
  background-color: #e0abd9;
}

.lightblue {
  width: 100px;
  background-color: #b6d8ed;
}

/*ここから下段*/

.yellow {
  background-color: #e5d32e;
}

.red {
  background-color: #ec8f9a;
}

.green {
  width: 500px;
  background-color: #8fdcad;
}